/* skelJS v0.4.4 | (c) n33 | skeljs.org | MIT licensed */

/*

	HEY YO. This file needs a bit of configuring before you can use it. See:
	
	http://skeljs.org/docs#usage-noscript

	for details. Thx.

*/

/* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */
/*
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}
*/

/* Normalize (normalize.css v2.1.1 | MIT License | git.io/normalize) */
/*
	article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{background:#fff;color:#000;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
*/

/* Box Model */
/*
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
*/

/* Container */

	body {
		/* min-width: (containers) */
		min-width: 960px;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		
		/* width: (containers) */
		width: 960px;
	}

	/* Modifiers */
	
		.container.small {
			/* width: (containers) * 0.75; */
			width: 720px;
		}

		.container.big {
			width: 100%;

			/* max-width: (containers) * 1.25; */
			max-width: 1200px;

			/* min-width: (containers); */
			min-width: 960px;
		}

/* Grid */

	/* Cells */

		.\31 2u { width: 100% }
		.\31 1u { width: 91.6666666667% }
		.\31 0u { width: 83.3333333333% }
		.\39 u { width: 75% }
		.\38 u { width: 66.6666666667% }
		.\37 u { width: 58.3333333333% }
		.\36 u { width: 50% }
		.\35 u { width: 41.6666666667% }
		.\34 u { width: 33.3333333333% }
		.\33 u { width: 25% }
		.\32 u { width: 16.6666666667% }
		.\31 u { width: 8.3333333333% }
		.\-11u { margin-left: 91.6666666667% }
		.\-10u { margin-left: 83.3333333333% }
		.\-9u { margin-left: 75% }
		.\-8u { margin-left: 66.6666666667% }
		.\-7u { margin-left: 58.3333333333% }
		.\-6u { margin-left: 50% }
		.\-5u { margin-left: 41.6666666667% }
		.\-4u { margin-left: 33.3333333333% }
		.\-3u { margin-left: 25% }
		.\-2u { margin-left: 16.6666666667% }
		.\-1u { margin-left: 8.3333333333% }

	/* Rows */

		.row > * {
			float: left;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-o-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;

			/* padding: (gutters) 0 0 (gutters); */
			padding: 40px 0 0 40px;
		}

		.row + .row > * {
			/* padding-top: (gutters) */
			padding-top: 40px;
		}

		.row {
			/* margin-left: (gutters) */
			margin-left: -40px;
		}

		.row:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		.row:first-child > * {
			padding-top: 0;
		}

		.row > * {
			padding-top: 0;
		}

		/* Modifiers */

			/* Flush */

				.row.flush {
					margin-left: 0;
				}

				.row.flush > * {
					padding: 0 !important;
				}

			/* Quarter */

				.row.quarter > * {
					/* padding: (gutters * 0.25) 0 0 (gutters * 0.25) */
					padding: 10px 0 0 10px;
				}

				.row.quarter + .row.quarter > * {
					/* padding-top: (gutters * 0.25) */
					padding-top: 10px;
				}

				.row.quarter {
					/* margin-left: -(gutters * 0.25) */
					margin-left: -10px;
				}

			/* Half */

				.row.half > * {
					/* padding: (gutters * 0.5) 0 0 (gutters * 0.5) */
					padding: 20px 0 0 20px;
				}

				.row.half + .row.half > * {
					/* padding-top: (gutters * 0.5) */
					padding-top: 20px;
				}

				.row.half {
					/* margin-left: -(gutters * 0.5) */
					margin-left: -20px;
				}

			/* One and (a) Half */

				.row.oneandhalf > * {
					/* padding: (gutters * 1.5) 0 0 (gutters * 1.5) */
					padding: 60px 0 0 60px;
				}

				.row.oneandhalf + .row.oneandhalf > * {
					/* padding-top: (gutters * 1.5) */
					padding-top: 60px;
				}

				.row.oneandhalf {
					/* margin-left: -(gutters * 1.5) */
					margin-left: -60px;
				}

			/* Double */

				.row.double > * {
					/* padding: (gutters * 2) 0 0 (gutters * 2) */
					padding: 80px 0 0 80px;
				}

				.row.double + .row.double > * {
					/* padding-top: (gutters * 2) */
					padding-top: 80px;
				}

				.row.double {
					/* margin-left: -(gutters * 2) */
					margin-left: -80px;
				}

/* Collapsed */
/*
	.row:not(.no-collapse)
	{
		margin-left: 0;
	}

	.row:not(.no-collapse) > * {
		float: none !important;
		width: 100% !important;
		margin-left: 0 !important;
	}

	.row:not(.no-collapse):not(.flush) > * {
		padding: 10px 0 10px 0 !important;
	}

	.container {
		max-width: none !important;
		min-width: 0 !important;
	
		// width: (containers) //
		width: 960px !important;
	}*/