; Top-most http://editorconfig.org/ file
root = true

[*]
end_of_line = CRLF

; 4-column tab indentation
[*.{cs,csproj,xaml,xml,props,targets}]
indent_style = space
indent_size = 4

[*.{md,yml,json}]
indent_style = space
indent_size = 2


[*.cs]
# WPF0011: Containing type should be used as registered owner.
dotnet_diagnostic.WPF0011.severity = error
