; Top-most http://editorconfig.org/ file
root = true

[*]
end_of_line = CRLF

; 4-column tab indentation
[*.cs]
indent_style = space
indent_size = 4

; 4-column tab indentation
[*.xaml]
indent_style = space
indent_size = 4

; 4-column tab indentation
[*.xml]
indent_style = space
indent_size = 4
