<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>  
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <!-- <add key="CI.ControlzEx" value="https://ci.appveyor.com/nuget/controlzex" /> -->
    <!-- <add key="CI.ControlzEx" value="C:\DEV\OSS_Own\ControlzEx\src\bin" /> -->
    <!-- <add key="CI.XamlColorSchemeGenerator" value="https://ci.appveyor.com/nuget/xamlcolorschemegenerator" /> -->
    <!-- <add key="CI.XamlColorSchemeGenerator" value="C:\DEV\OSS_Own\XamlColorSchemeGenerator\bin\Release" /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <clear />
    <!-- <add key="CI.ControlzEx" value="https://ci.appveyor.com/nuget/controlzex" /> -->
    <!-- <add key="CI.ControlzEx" value="C:\DEV\OSS_Own\ControlzEx\src\bin" /> -->
    <!-- <add key="CI.XamlColorSchemeGenerator" value="https://ci.appveyor.com/nuget/xamlcolorschemegenerator" /> -->
    <!-- <add key="CI.XamlColorSchemeGenerator" value="C:\DEV\OSS_Own\XamlColorSchemeGenerator\bin\Release" /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </activePackageSource>
</configuration>