framework: net45, net452, net46, net47, netcoreapp3.0

//source https://ci.appveyor.com/nuget/xamlcolorschemegenerator
//source https://ci.appveyor.com/nuget/controlzex
//source https://ci.appveyor.com/nuget/mahapps-metro-iconpacks
source https://api.nuget.org/v3/index.json

nuget Fody
nuget Costura.Fody

// copy_local: true => PrivateAssets=All, mean all these type of assets are private of the project (so no need to add the deps in the nupkg dep list)
nuget JetBrains.Annotations copy_local: true
nuget Microsoft.SourceLink.GitHub prerelease copy_local: true
nuget WpfAnalyzers copy_local: true

nuget ControlzEx prerelease
nuget XamlColorSchemeGenerator copy_local: true
nuget MahApps.Metro.IconPacks prerelease
nuget MaterialDesignThemes prerelease

nuget Caliburn.Micro ~> 3.0
nuget NHotkey.Wpf 1.2.1

nuget ExposedObject < 1.3
nuget xunit < 3
nuget xunit.runner.visualstudio < 3
nuget Microsoft.NET.Test.Sdk
