source https://nuget.org/api/v2

github ControlzEx/ControlzEx:8f91b7af7c55b87a302bacacdc7c9957c329f5e2 src/ControlzEx/PackIconBase.cs
github samueldjack/VirtualCollection:bbce670015b1a0af6332ea3ecfd20b28384573c9 VirtualCollection/VirtualCollection/VirtualizingWrapPanel.cs
