<link rel="shortcut icon" href="{{site.baseurl}}/favicon.png" />
<!-- TODO: fairly certain I can kill off some of these fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Oleo+Script:400" rel="stylesheet" type="text/css" />
<!-- TODO: not this one, this one is rad -->
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

<script src="{{site.baseurl}}/js/jquery-1.9.1.min.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{{site.baseurl}}/js/config.js"></script>
<script>
window._skel_config = {
	preset: 'standard',
	prefix: '{{site.baseurl}}css/style',
	resetCSS: true
};

window._skel_ui_config = {
	preset: 'standard'
};
</script>

<script src="{{site.baseurl}}/js/skel.min.js"></script>
<script src="{{site.baseurl}}/js/skel-ui.min.js"></script>
<noscript>
  <link rel="stylesheet" href="{{site.baseurl}}/css/skel-noscript.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/style-desktop.css" />
</noscript>
<link rel="stylesheet" href="{{site.baseurl}}/css/style-custom.css" />
<!--[if lte IE 8]><script src="{{site.baseurl}}js/html5shiv.js"></script><link rel="stylesheet" href="{{site.baseurl}}css/ie8.css" /><![endif]-->
<!--[if lte IE 7]><link rel="stylesheet" href="{{site.baseurl}}css/ie7.css" /><![endif]-->