<!DOCTYPE html>
<html>
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>MahApps.Metro Documentation</title>
		<link rel="stylesheet" type="text/css" href="css/metro.blue.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="shortcut icon" href="favicon.png" />
	</head>
	<body>
		<div id="content">
			{{content}}
		</div>
	</body>
</html>