<!DOCTYPE html>
<html>
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>MahApps.Metro Documentation</title>
		<link rel="stylesheet" type="text/css" href="css/metro.blue.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="shortcut icon" href="favicon.png" />
		<script src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
		<script src="js/jquery.metro.js"></script>
		<script src="js/site.js"></script>
	</head>
	<body id="top">
		<div id="content">
			{{content}}



			<script type="text/javascript">
				(function () {
					var nb = document.createElement('script'); nb.type = 'text/javascript'; nb.async = true;
					nb.src = 'http://s.prabir.me/nuget-button/0.2.1/nuget-button.min.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(nb, s);
				})();
			</script>
		</div>
	</body>
</html>