<!DOCTYPE html>
<html>
	<head>
		<meta content="en-au" http-equiv="Content-Language" />
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>MahApps.Metro Documentation</title>
		<link rel="stylesheet" type="text/css" href="css/metro.blue.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="shortcut icon" href="favicon.png" />
		<script src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
		<script src="js/site.js"></script>
	</head>
	<body id="top">
		<div id="content">
			{{content}}

			<script type="text/javascript">

			</script>
		</div>
		<div class="current-section">
			<p class="name"></p>
			<a href="#top">Scroll to top</a>
		</div>
	</body>
</html>