<!DOCTYPE HTML>
<html>
	<head>
		<title>{{page.title}}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		{% include resources.html %}
	</head>
	<body class="homepage">
    <a href="https://github.com/MahApps/MahApps.Metro">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
    </a>
		<div id="header-wrapper">
			<div class="container">
				<div class="row">
					<div class="12u">
						<header id="header">
							<div id="logo">
                <h1><a href="{{site.baseurl}}/" id="logo">mahapps.metro</a></h1>
								<span>an open source UI toolkit for WPF</span>
							</div>
							<nav id="nav">
								<ul>
                  <li><a href="{{site.baseurl}}/controls/">controls</a></li>
                  <li><a href="{{site.baseurl}}/contribute/">contribute</a></li>
								</ul>
							</nav>
						</header>
					</div>
				</div>
			</div>
		</div>
		<div id="banner-wrapper">
			<div class="container">
				<div class="row">
					<div class="12u">
						<div id="banner" class="box">
							<div>
								<div class="row">
									<div class="12u">
										<h2>let your desktop apps shine</h2>
										<div id="home-container">
                      <div><img alt="before" src="{{site.baseurl}}/images/home-title-light.png" width="1024" height="348" /></div>
                      <div><img alt="after" src="{{site.baseurl}}/images/home-title-dark.png" width="1024" height="348" /></div>
										</div>
										<p>1. install it from NuGet
											<pre class="nuget-button">Install-Package MahApps.Metro</pre>
										</p>
                    <p>2. read through the <a href="{{site.baseurl}}/guides/quick-start.html">quick start</a></p>
										<p>3. go forth and be awesome</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="features-wrapper">
			<div class="container">
				<div class="row">
					<div class="4u">
						<section class="box box-feature">
              <a href="#" class="image image-full"><img src="{{site.baseurl}}/images/home-standard-controls.png" alt="" /></a>
							<div class="inner">
								<header>
									<h2>enhance the default controls</h2>
								</header>
								<p>Mahapps.Metro overrides the style of the default controls and gives them a metro-ish look.</p>
							</div>
						</section>
					</div>
					<div class="4u">
						<section class="box box-feature">
              <a href="#" class="image image-full"><img src="{{site.baseurl}}/images/home-visual-studio.png" alt="" /></a>
							<div class="inner">
								<header>
									<h2>more than just styles</h2>
								</header>
								<p>MahApps.Metro also includes some custom controls based on concepts from in Windows Phone and Windows 8 Apps</p>
							</div>
						</section>
					</div>
					
					<div class="4u">
						<section class="box box-feature last">
              <a href="#" class="image image-full"><img src="{{site.baseurl}}/images/home-open-source.png" alt="" /></a>
							<div class="inner">
								<header>
									<h2>it's open source</h2>
								</header>
								<p>Something not right? Something could be improved? Or something to add? We're on <a href="https://github.com/MahApps/MahApps.Metro">GitHub</a>, so drop in and help us make it better! <a href="http://octodex.github.com/baracktocat/">[octocat]</a></p>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<div id="main-wrapper">
			<div class="container">
				<div class="row">
					<div class="4u">
						<div id="sidebar">
							<section class="widget-thumbnails">
								<h3>quick links</h3>
								<div class="grid persistent">
									<div class="row">
                    <div class="6u"><a href="https://github.com/MahApps/MahApps.Metro/" class="image image-full x"><img src="{{site.baseurl}}/images/github.png" alt="" /></a></div>
                    <div class="6u"><a href="http://html5up.net/halcyonic/" class="image image-full y"><img src="{{site.baseurl}}/images/pic05.jpg" alt="" /></a></div>
									</div>
									<!--<div class="row">
										<div class="6u"><a href="http://html5up.net/arcana/" class="image image-full x"><img src="images/pic06.jpg" alt="" /></a></div>
										<div class="6u"><a href="http://html5up.net/zerofour/" class="image image-full y"><img src="images/pic07.jpg" alt="" /></a></div>
									</div>-->
								</div>
							</section>
						</div>
					</div>
					<div class="8u">
						<div id="content">
							<section class="last">
								<h2>you've read this far? fantastic!</h2>
								<p>MahApps.Metro is a project that <a href="http://vikingco.de/">Paul Jenkins</a> started back in 2011 as a simple way to bring a Metro-style user interface into your WPF application. Since then it's evolved and taken contributions (at last count there were 300+ forks) from various people in the community. </p>
								<p>This has been a project for the community, by the community - none of us are paid to do this, and we do it out of our love of code.</p>
								<p>So if you love this project and want it to get better, get involved!</p>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<div id="footer-wrapper">
			<footer id="footer" class="container">
				<div class="row">
					<div class="3u">
						<section class="widget-links">
							<h2>Random Stuff</h2>
							<ul class="style2">
								<li><a href="#">Etiam feugiat condimentum</a></li>
								<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
								<li><a href="#">Sed porttitor cras in erat nec</a></li>
								<li><a href="#">Felis varius pellentesque potenti</a></li>
								<li><a href="#">Nullam scelerisque blandit leo</a></li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section class="widget-links">
							<h2>Random Stuff</h2>
							<ul class="style2">
								<li><a href="#">Etiam feugiat condimentum</a></li>
								<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
								<li><a href="#">Sed porttitor cras in erat nec</a></li>
								<li><a href="#">Felis varius pellentesque potenti</a></li>
								<li><a href="#">Nullam scelerisque blandit leo</a></li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section class="widget-links">
							<h2>Random Stuff</h2>
							<ul class="style2">
								<li><a href="#">Etiam feugiat condimentum</a></li>
								<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
								<li><a href="#">Sed porttitor cras in erat nec</a></li>
								<li><a href="#">Felis varius pellentesque potenti</a></li>
								<li><a href="#">Nullam scelerisque blandit leo</a></li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section class="widget-contact last">
							<h2>Contact Us</h2>
							<ul>
								<li><a href="#" class="twitter">Twitter</a></li>
								<li><a href="#" class="facebook">Facebook</a></li>
								<li><a href="#" class="dribbble">Dribbble</a></li>
								<li><a href="#" class="googleplus">Google+</a></li>
							</ul>
							<p>1234 Fictional Road Suite #5432<br />
							Nashville, Tennessee 00000-0000<br />
							(800) 555-0000</p>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="12u">
						<div id="copyright">
							&copy; Untitled. All rights reserved. | Images: <a href="http://fotogrph.com/">fotogrph</a> + <a href="http://iconify.it/">Iconify.it</a> | Design: <a href="http://html5up.net/">HTML5 UP</a>
						</div>
					</div>
				</div>
			</footer>
		</div>-->
	</body>
  <script type="text/javascript" src="{{site.baseurl}}/js/jquery.beforeafter-1.4.min.js"></script>
	<script type="text/javascript">
	$(function(){
		$('#home-container').beforeAfter({
			animateIntro : true,
	        introDelay : 2000,
	        introDuration : 500,
	        showFullLinks : false
		});
	});
	</script>
	<script type="text/javascript">
    (function () {
        var nb = document.createElement('script');
        nb.type = 'text/javascript';
        nb.async = true;
        nb.src = '{{site.baseurl}}/js/nuget.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(nb, s);
    })();
</script>
</html>