<!DOCTYPE HTML>
<html>
	<head>
		<title>{{page.title}}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		{% include resources.html %}
	</head>
	<body class="no-sidebar">
    <a href="https://github.com/MahApps/MahApps.Metro">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
    </a>
		<div id="header-wrapper">
			<div class="container">
				<div class="row">
					<div class="12u">
						<header id="header">
							<div id="logo">
								<h1><a href="{{site.baseurl}}" id="logo">mahapps.metro</a></h1>
								<span>an open source UI toolkit for WPF</span>
							</div>
							<nav id="nav">
								<ul>
                  <li><a href="{{site.baseurl}}controls/">controls</a></li>
									<li><a href="{{site.baseurl}}contribute/">contribute</a></li>
								</ul>
							</nav>
						</header>
					</div>
				</div>
			</div>
		</div>
		<div id="main-wrapper">
			<div class="container">
				<div class="row">
					<div class="12u skel-cell-mainContent">
						<div id="content">
							<article class="last">
								<h2>{{ page.title }}</h2>
								{{ content }}
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<div id="footer-wrapper">
			<footer id="footer" class="container">
				<div class="row">
					<div class="3u">
						<section class="widget-links">
							<h2>Random Stuff</h2>
							<ul class="style2">
								<li><a href="#">Etiam feugiat condimentum</a></li>
								<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
								<li><a href="#">Sed porttitor cras in erat nec</a></li>
								<li><a href="#">Felis varius pellentesque potenti</a></li>
								<li><a href="#">Nullam scelerisque blandit leo</a></li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section class="widget-links">
							<h2>Random Stuff</h2>
							<ul class="style2">
								<li><a href="#">Etiam feugiat condimentum</a></li>
								<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
								<li><a href="#">Sed porttitor cras in erat nec</a></li>
								<li><a href="#">Felis varius pellentesque potenti</a></li>
								<li><a href="#">Nullam scelerisque blandit leo</a></li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section class="widget-links">
							<h2>Random Stuff</h2>
							<ul class="style2">
								<li><a href="#">Etiam feugiat condimentum</a></li>
								<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
								<li><a href="#">Sed porttitor cras in erat nec</a></li>
								<li><a href="#">Felis varius pellentesque potenti</a></li>
								<li><a href="#">Nullam scelerisque blandit leo</a></li>
							</ul>
						</section>
					</div>
					<div class="3u">
						<section class="widget-contact last">
							<h2>Contact Us</h2>
							<ul>
								<li><a href="#" class="twitter">Twitter</a></li>
								<li><a href="#" class="facebook">Facebook</a></li>
								<li><a href="#" class="dribbble">Dribbble</a></li>
								<li><a href="#" class="googleplus">Google+</a></li>
							</ul>
							<p>1234 Fictional Road Suite #5432<br />
							Nashville, Tennessee 00000-0000<br />
							(800) 555-0000</p>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="12u">
						<div id="copyright">
							&copy; Untitled. All rights reserved. | Images: <a href="http://fotogrph.com/">fotogrph</a> + <a href="http://iconify.it/">Iconify.it</a> | Design: <a href="http://html5up.net/">HTML5 UP</a>
						</div>
					</div>
				</div>
			</footer>
		</div>-->
	</body>
	<script type="text/javascript">
    (function () {
        var nb = document.createElement('script');
        nb.type = 'text/javascript';
        nb.async = true;
        nb.src = '{{site.baseurl}}js/nuget.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(nb, s);
    })();
</script>
</html>