<!DOCTYPE HTML>
<html>
    <head>
        <title>{{page.title}}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        {% include resources.html %}
    </head>
    <body class="no-sidebar">
    <a href="https://github.com/MahApps/MahApps.Metro">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
    </a>
    <div id="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="12u">
                    <header id="header">
                        <div id="logo">
                            <h1><a href="{{site.baseurl}}/">mahapps.metro</a></h1>
                            <span>a UI toolkit for WPF</span>
                        </div>
                        <nav id="nav">
                            <ul>
                              <li><a href="{{site.baseurl}}/news/">news</a></li>
                              <li><a href="{{site.baseurl}}/guides/">guides</a></li>
                              <li><a href="{{site.baseurl}}/controls/">controls</a></li>
                              <li><a href="{{site.baseurl}}/about/">about</a></li>
                            </ul>
                        </nav>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="12u skel-cell-mainContent">
                    <div id="content">
                        <article class="last">
                            <h2>{{ page.title }}</h2>
                            {{ content }}
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
      (function () {
          var nb = document.createElement('script');
          nb.type = 'text/javascript';
          nb.async = true;
          nb.src = '{{site.baseurl}}/js/nuget.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(nb, s);
      })();
    </script>
    </body>
</html>